
<!--==========================
    Header
    ============================-->
    <header id="header">
      <div class="container">
  
        <div id="logo" class="pull-left">
          <!--<a href="#hero"><img src="img/logo.png" alt="" title="" /></img></a>-->
          <!-- Uncomment belo
            w if you prefer to use a text logo -->
          <h1><a href="#hero">Lion-Hearted Martyrs</a></h1>
         
        </div>
      
      </div>
     </header><!-- #header -->
  <br><br> <br>

        <nav id="nav-menu-container" >
          
          <ul class="nav-menu">

              <li><a class="nav-link" [routerLink]="['/']">Home</a></li>
              <li><a class="nav-link" [routerLink]="['/about']">About Us</a></li>
              <li><a class="nav-link" [routerLink]="['/contributeto']">Contribute To</a></li>
              <li><a class="nav-link" [routerLink]="['/contributions']">Contributions</a></li>
              <li><a class="nav-link" [routerLink]="['/services']">Services</a></li>
              <li class="menu-has-children"><a class="nav-link"[routerLink]="['/gallery']">Gallery</a>
              <ul>
                <li><a class="nav-link" [routerLink]="['/gphotos']">Photos</a></li>
                <li><a class="nav-link" [routerLink]="['/gvideos']">Videos</a></li> 
              </ul></li>
              <li><a class="nav-link" [routerLink]="['/contact']">Contact</a></li>
            
              <div class="music" align="right">
                <audio controls>
                    <source src="../../assets/sare jahan se achcha instrumental cover by murli(MP3_160K).mp3" type="audio/mp3" controls="true" loop="true" autoplay="true" width="25" height="15">
                  </audio>
                </div>
      
          </ul>
          <br><br>
        </nav><!-- #nav-menu-container -->
     

  
   
    