
<!--==========================
    Header
    ============================-->
    <header id="header">
      <div class="container">
  
        <div id="logo" class="pull-left">
          <!--<a href="#hero"><img src="img/logo.png" alt="" title="" /></img></a>-->
          <!-- Uncomment belo
            w if you prefer to use a text logo -->
          <h1><a href="#hero">Lion-Hearted Martyrs</a></h1>
        </div>
      </div>
     </header><!-- #header -->
  <br><br> <br>

        <nav id="nav-menu-container" >
          
          <ul class="nav-menu">

              <li><a class="nav-link" [routerLink]="['/']">Home</a></li>
              <li><a class="nav-link" [routerLink]="['/about']">About Us</a></li>
              <li><a class="nav-link" [routerLink]="['/contributeto']">Contribute To</a></li>
              <li><a class="nav-link" [routerLink]="['/contributions']">Contributions</a></li>
              <li><a class="nav-link" [routerLink]="['/services']">Services</a></li>
              <li><a class="nav-link" [routerLink]="['/gallery']">Gallery</a></li>
              <li><a class="nav-link" [routerLink]="['/contact']">Contact</a></li>
            
           
      
          </ul>
          <br><br>
        </nav><!-- #nav-menu-container -->
     

  
   
    