<!--==========================
    Footer
  ============================-->
  <footer id="footer">
        <div class="footer-top">
          <div class="container">
    
          </div>
        </div>
    
        <div class="container">
            <p align="center"><strong>Connect us With</strong><br>
              <strong>Email id: </strong>kapoorstuti05@gmail.com , aparna.bhardwaj.1993@gmail.com<br>
              <strong>Phone no: </strong>9205136299, 8743017326<br>
            <strong>Address:</strong>New delhi,delhi</p>
        
<div class="footer-icons" align="center">
  <ul>
    <li>
      <a href="#"><i class="fa fa-facebook"></i></a>
    </li>
    <li>
      <a href="#"><i class="fa fa-twitter"></i></a>
    </li>
    <li>
      <a href="#"><i class="fa fa-google"></i></a>
    </li>
    <li>
      <a href="#"><i class="fa fa-pinterest"></i></a>
    </li>
  </ul>
</div>
          <div class="copyright">
            &copy; Copyright <strong>Ministry of Home and Affairs</strong>.<br> All Rights Reserved
          </div>
          <div class="credits">
            
           Designed by <b>Stuti Kapoor & Aparna Bhardwaj</b> 
          </div>
          
        </div>
      </footer><!-- #footer -->

