<!--==========================
      Services Section
    ============================-->
   
      <div class="backgroundImage">
    <section id="services" >
        <div class="container wow fadeInUp">
          <div class="section-header">
            <h3 class="section-title">Services</h3>
            <p class="section-description"><b>JAI HIND JAI BHARAT</b></p>
          </div>
  
  
          <div class="row" id="services-wrapper">
            <div class="col-lg-3 col-md-6 services-item filter-app">
              <a href="">
                <img src="../../assets/img/service/itbp.png">
                <div class="details">
                  <h4>ITBP</h4>
                  <span>Indo-Tibetan Border Police</span>              </div>
              </a>
            </div>
  
            <div class="col-lg-3 col-md-6 services-item filter-web">
              <a href="">
                <img src="../../assets/img/service/BSF.png" alt="">
                <div class="details">
                  <h4>BSF</h4>
                  <span>Border Security Force</span>              </div>
              </a>
            </div>
  
            <div class="col-lg-3 col-md-6 services-item filter-app">
              <a href="">
                <img src="../../assets/img/service/crpf.png" alt="">
                <div class="details">
                  <h4>CRPF</h4>
                  <span>Central Reserve Police Force</span>              </div>
              </a>
            </div>
  
            <div class="col-lg-3 col-md-6 services-item filter-card">
              <a href="">
                <img src="../../assets/img/service/cisf.png" alt="">
                <div class="details">
                  <h4>CISF</h4>
                  <span>Central Industrial Security Force</span>              </div>
              </a>
            </div>
  
            <div class="col-lg-3 col-md-6 services-item filter-card">
              <a href="">
                <img src="../../assets/img/service/Railway_Protection_Force_Logo.png" alt="">
                <div class="details">
                  <h4>RPF</h4>
                  <span>Railway Protecrion Force</span>              </div>
              </a>
            </div>
  
            <div class="col-lg-3 col-md-6 services-item filter-web">
              <a href="">
                <img src="../../assets/img/service/SPG_Emblem.png" alt="">
                <div class="details">
                  <h4>SPG</h4>
                  <span>Special Protection Group</span>              </div>
              </a>
            </div>
  
            <div class="col-lg-3 col-md-6 services-item filter-card">
              <a href="">
                <img src="../../assets/img/service/Sashastra_Seema_Bal.png" alt="">
                <div class="details">
                  <h4>SSB</h4>
                  <span>Sashastra Seema Bal</span>              </div>
              </a>
            </div>
  
            <div class="col-lg-3 col-md-6 services-item filter-app">
              <a href="">
                <img src="../../assets/img/service/assam rifles.png" alt="">
                <div class="details">
                  <h4>Assam Rifles</h4>
                  <span>Assam Rifles</span>              </div>
              </a>
            </div>
  
            <div class="col-lg-3 col-md-6 services-item filter-logo">
              <a href="">
                <img src="../../assets/img/service/Indian_Coast_Guard_Logo.svg.png" alt="">
                <div class="details">
                  <h4>ICG</h4>
                  <span>Indian Coast Guard</span>              </div>
              </a>
            </div>
  
            <div class="col-lg-3 col-md-6 services-item filter-logo">
              <a href="">
                <img src="../../assets/img/service/DEFENCE.jpg" alt="">
                <div class="details">
                  <h4> Indian Defence</h4>
                  <span>Indian Defence</span>              </div>
              </a>
            </div>
  
            <div class="col-lg-3 col-md-6 services-item filter-web">
              <a href="">
                <img src="../../assets/img/service/IAF_Crest.svg.png" alt="">
                <div class="details">
                  <h4>IAF</h4>
                  <span>Indian Air Force</span>              </div>
              </a>
            </div>
  
            <div class="col-lg-3 col-md-6 services-item filter-logo">
              <a href="">
                <img src="../../assets/img/service/para-sf.png" alt="">
                <div class="details">
                  <h4>Para Special Force</h4>
                  <span>Para Special Force</span>              </div>
              </a>
            </div>
  
  
          </div>
  
        </div>
      </section><!-- #services -->
    
  </div>
