<!--==========================
      Services Section
    ============================-->
    <body class="backgroundImage">
      <div ></div>
    <section id="services" >
        <div class="container wow fadeInUp">
          <div class="section-header">
            <h3 class="section-title">services</h3>
            <p class="section-description">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque</p>
          </div>
  
  
          <div class="row" id="services-wrapper">
            <div class="col-lg-3 col-md-6 services-item filter-app">
              <a href="">
                <img src="../../assets/img/service/BSF.png">
                <div class="details">
                  <h4>ITBP</h4>
                  <span>Indo-Tibetan Border Police</span>              </div>
              </a>
            </div>
  
            <div class="col-lg-3 col-md-6 services-item filter-web">
              <a href="">
                <img src="../../assets/img/service/DEFENCE.jpg" alt="">
                <div class="details">
                  <h4>Web 2</h4>
                  <span>Alored dono par</span>              </div>
              </a>
            </div>
  
            <div class="col-lg-3 col-md-6 services-item filter-app">
              <a href="">
                <img src="../../assets/img/service/IAF_Crest.svg.png" alt="">
                <div class="details">
                  <h4>App 3</h4>
                  <span>Alored dono par</span>              </div>
              </a>
            </div>
  
            <div class="col-lg-3 col-md-6 services-item filter-card">
              <a href="">
                <img src="../../assets/img/service/Indian_Coast_Guard_Logo.svg.png" alt="">
                <div class="details">
                  <h4>Card 1</h4>
                  <span>Alored dono par</span>              </div>
              </a>
            </div>
  
            <div class="col-lg-3 col-md-6 services-item filter-card">
              <a href="">
                <img src="../../assets/img/service/Railway_Protection_Force_Logo.png" alt="">
                <div class="details">
                  <h4>Card 2</h4>
                  <span>Alored dono par</span>              </div>
              </a>
            </div>
  
            <div class="col-lg-3 col-md-6 services-item filter-web">
              <a href="">
                <img src="../../assets/img/service/SPG_Emblem.png" alt="">
                <div class="details">
                  <h4>Web 3</h4>
                  <span>Alored dono par</span>              </div>
              </a>
            </div>
  
            <div class="col-lg-3 col-md-6 services-item filter-card">
              <a href="">
                <img src="../../assets/img/service/Sashastra_Seema_Bal.png" alt="">
                <div class="details">
                  <h4>Card 3</h4>
                  <span>Alored dono par</span>              </div>
              </a>
            </div>
  
            <div class="col-lg-3 col-md-6 services-item filter-app">
              <a href="">
                <img src="../../assets/img/service/assam rifles.png" alt="">
                <div class="details">
                  <h4>App 2</h4>
                  <span>Alored dono par</span>              </div>
              </a>
            </div>
  
            <div class="col-lg-3 col-md-6 services-item filter-logo">
              <a href="">
                <img src="../../assets/img/service/cisf.png" alt="">
                <div class="details">
                  <h4>Logo 1</h4>
                  <span>Alored dono par</span>              </div>
              </a>
            </div>
  
            <div class="col-lg-3 col-md-6 services-item filter-logo">
              <a href="">
                <img src="../../assets/img/service/crpf.png" alt="">
                <div class="details">
                  <h4>Logo 3</h4>
                  <span>Alored dono par</span>              </div>
              </a>
            </div>
  
            <div class="col-lg-3 col-md-6 services-item filter-web">
              <a href="">
                <img src="../../assets/img/service/itbp.png" alt="">
                <div class="details">
                  <h4>Web 1</h4>
                  <span>Alored dono par</span>              </div>
              </a>
            </div>
  
            <div class="col-lg-3 col-md-6 services-item filter-logo">
              <a href="">
                <img src="../../assets/img/service/para-sf.png" alt="">
                <div class="details">
                  <h4>Logo 2</h4>
                  <span>Alored dono par</span>              </div>
              </a>
            </div>
  
          </div>
  
        </div>
      </section><!-- #services -->
    </body>
  
