<br><br>
<div class="videos" align="center">
  
    <div class="responsive">
        <div class="gallery">
            <video width="700" height="400" controls>
                <source src="../../assets/img/Videos/A.R. Rahman - Maa Tujhe Salaam - 2018(1080P_HD).mp4" type="video/mp4">
                Maa Tujhe Salaam
              </video>

        </div>
        </div>

        <div class="responsive">
            <div class="gallery">
                <video width="700" height="400"  controls>
                    <source src="../../assets/img/Videos/Jana Gana Mana _ Salute to Indian Army _ INDIAN Na(720P_HD).mp4" type="video/mp4">
                    Jan Gan Man
                  </video>
    
            </div>
            </div>
            <div class="responsive">
                <div class="gallery">
                    <video width="700" height="400"  controls>
                        <source src="../../assets/img/Videos/Sare Jahan Se Accha Independence Day Songs _ india(720P_HD).mp4" type="video/mp4">
                        Saare Jahan Se Achha
                      </video>
        
                </div>
                </div>
                <div class="responsive">
                    <div class="gallery">
                        <video width="700" height="400"  controls>
                            <source src="../../assets/img/Videos/Bharat ke Veer Anthem.mp4" type="video/mp4">
                              Lion-Hearted Martyrs Anthem
                          </video>
            
                    </div>
                    </div>






  </div>

<app-footer></app-footer>
