.videos{
    padding: 10px;
    background-image: url(../../assets/img/indian-flag-wallpaper_562791.jpg);
  background-size: 100%;
  background-position: fixed;
  background-attachment:scroll;
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover; 
}