<body>
  <br><br><br>
           <div class="contribute-header">
              <h2>Lets support families of our bravehearts who martyred for motherland..</h2>
          </div>
    
<div class="card-group">
        <div class="card">
            <a class="glow" [routerLink]="['/cdonation']">
          <img src="../../assets/img/bravehearts.jpg" class="card-img-top" alt="..."> </a>
          <div class="card-body">
            <h5 class="card-title">Bravehearts</h5>
            <p class="card-text"> You can now help the families of India's bravehearts by contributing to some amount to their families.</p>
          </div>
        </div>
        <div class="card">
            <a class="glow" [routerLink]="['/cdonation']">
          <img src="../../assets/img/Backdrops/07adc937deb0bb2cfebbd7c2b62ceffd.jpg" class="card-img-top" alt="..."></a>
          <div class="card-body">
            <h5 class="card-title">Lion-Hearted Corpus Fund</h5>
            <p class="card-text"> You can now help us by contributing in Lion-Hearted Martyrs Corpus Fund.</p>
          </div>
        </div>
        <div class="card">
            <a class="glow" [routerLink]="['/cdonation']">
          <img src="../../assets/img/relief fund.jpg" class="card-img-top" alt="..."></a>
          <div class="card-body">
            <h5 class="card-title">Relief Fund</h5>
            <p class="card-text">These camps are designed to provide employment, shelter and medical care for homeless people incase of any natural calamity, danger or sudden problems. </p>
          </div>
        </div>
      </div>
    
    </body>
    
    <app-footer></app-footer>