.card-group{
    padding-top: 80px;
}
.card{
    padding: 20px;
    background: rgba(0, 0, 0, 0.0);
}
.glow:hover{
    color: black;
    
}
.contribute-header{
    color: black;
}
h2{
    font-size: 25px;
    padding-left: 30px;
}