  <!--==========================
      My Contributions Section
    ============================-->
    <body>
    <section id="contributions">
        <div class="container wow fadeInUp">
          <div class="section-header">
            <h3 class="section-title">My Contributions</h3>
            <p class="section-description"><b>Please enter your details</b></p>
          </div>
        </div>
     
  <div class="row mid">

    <div class="col-lg-5 col-md-8">
      <div class="form">
        <form action="" method="post" role="form" class="contactForm">
          <div class="form-group">
            NAME : <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" [(ngModel)]="name" />
            <div class="validation"></div>
          </div>
          <div class="form-group">
            E-MAIL : <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" [(ngModel)]="email"/>
            <div class="validation"></div>
          </div>
          <div class="form-group">  
            PHONE NUMBER : <input type="number" class="form-control" name="number" id="number" placeholder="Your number" [(ngModel)]="number" />
            <div class="validation"></div>
            <br>
            <div class="text-center"><button type="submit" (click)="addData()" [routerLink]="['/certi']">View Contributions</button></div>
            
          </div>
          
           </form>
            
      </div>
    </div>
  </div>
  
      </section><!-- #contributions -->
    
    </body>
  
    <app-footer></app-footer>
