.mid {
    display: flex;
    justify-content: center;
    align-items: center;
}

.certificate{ 
    font-weight: 500px;
    text-decoration: none;
    text-align: center;
    color: white;
    background: red;
    border: 2px solid white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
}
.certificate:hover{
    background :black;
    color: white;
    border: 2px solid white;
    font-weight: 500px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
}